<footer style="margin-top: 32px">
<div class="container">
  <mat-divider></mat-divider>
  <div id="footer" class="text-center" style="margin-top: 10px">
    <p>
        <strong>Copyright &copy;</strong>
        <a href="https://lab.rjmart.cn/10139/chenzxlab" target="_blank">Chen Lab</a>,
        <a href="http://lst.hzau.edu.cn/" target="_blank">College of Life Science and Technology</a> ,
        <a href="http://www.hzau.edu.cn" target="_blank">HZAU</a>,
        China.
    </p>
    <p>
        Any comments and suggestions, please <a routerLink="/help" target="blank">contact us</a>
    </p>
    <p><a href="https://beian.miit.gov.cn" target="blank">鄂ICP备19017097号</a></p>
    <a href="https://www.revolvermaps.com/livestats/5r2avk7r6wr/">
      <img src="//rf.revolvermaps.com/h/m/a/0/ff0000/128/0/5r2avk7r6wr.png" width="256" height="128" alt="Map" style="border:0;"></a>
  </div>
</div>
</footer>
